@import "../utilities/all";

.accordion {
  .collapse {
    & + .collapse {
      margin-top: .8rem;
    }

    .button {
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        flex: 1;
        text-align: left;
        padding-right: 1rem;
      }

      & + * {
        display: none;
        &.is-active {
          display: block;
          margin: .85em .85em 0 .85em;
        }
      }
    }
  }
}
