/*
Badge
Added in: v0.0.1
*/
@import "../core/variables/variables";
@import "../core/mixins/mixins";

@mixin badge($className, $color) {
  .badge.is-#{$className} {
    background-color: $color;
    color: #fff;
  }
}

.badge {
  line-height: 1;
  font-size: .75em;
  border-radius: $base_border_radius;
  display: inline-block;
  font-weight: 400;
  padding: .3em;
  background-color: $light;
  &.is-rounded {
    border-radius: 5rem;
  }
}


@include badge('primary', $primary)
@include badge('success', $success)
@include badge('warning', $warning)
@include badge('danger', $danger)
@include badge('dark', $dark)
