/*
Badge
Added in: v0.0.1
*/
@import "../core/variables/variables";
@import "../core/mixins/mixins";

.badge {
  line-height: 1;
  font-size: .75em;
  border-radius: $base_border_radius;
  display: inline-block;
  font-weight: 400;
  padding: .3em;
  background-color: map-get($colors, "light");
  &.is-rounded {
    border-radius: 5rem;
  }
  @each $name, $color in $colors {
    &.is-#{$name} {
      background-color: $color;
      color: #fff;
    }
  }
}
