/*
Box
Added in: v0.0.1
*/
@import "../core/variables/variables";
@import "../core/mixins/mixins";

.box,
.modal {
  border-radius: $base_border_radius;
  background-color: #fff;
  border: 1px solid $base_border_color;
  &-header,
  &-body,
  &-footer {
    padding: .95rem;
  }
  &-header {
    border-bottom: 1px solid $base_border_color;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
  &-body {
    + .box-body,
    + .modal-body {
      border-top: 1px solid $base_border_color;
    }
  }
  &-footer {
    border-top: 1px solid $base_border_color;
  }
  &.is-shadowed {
    box-shadow: $base_shadow;
  }
}
