@import "../utilities/all";

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  &-logo {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  &-nav {
    .nav-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
