@import "../utilities/all";

.pagination {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      & + li {
        margin-left: .5rem;
      }
      > span {
        opacity: .5;
      }
    }
  }
}
