/*
Tabs
Added in: v0.0.1
*/
@import "../core/variables/variables";
@import "../core/mixins/mixins";

.tabs {
  &-controls {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: .5em;
      }
    }
  }

  &-content {
    margin-top: 1.25rem;
  }

  &-pane {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
