/*
Typographic
Added in: v0.0.1
*/
@import "../core/variables/variables";
@import "../core/mixins/mixins";

// H1 - H6
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: .5em;
  position: relative;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: .8rem;
}

// Text align
$text_align_class_name: "ta";
$aligns: left, center, right;
@mixin textAlign($align) {
  text-align: $align;
}

@each $side in $aligns {
  .#{$text_align_class_name}-#{$side} {
    text-align: $side;
  }

  @include generate-responsive('.#{$text_align_class_name}-#{$side}') {
    @include textAlign($side);
  }
}

// Text sizes
$font_size_class_name: "fz";
$sizes: (
  'very-small': .65rem,
  'small': .8rem,
  'medium': 1rem,
  'large': 1.25rem,
  'very-large': 1.5rem,
);

@mixin textSize($size) {
  font-size: $size;
}

@each $name, $size in $sizes {
  .#{$font_size_class_name}-#{$name} {
    @include textSize($size);
  }
  @include generate-responsive('.#{$font_size_class_name}-#{$name}') {
    @include textSize($size);
  }
}

// Font weight
$font_weight_class_name: "fw";
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@mixin fontWeight($weight) {
  font-weight: $weight;
}

@each $weight in $weights {
  .#{$font_weight_class_name}-#{$weight} {
    @include fontWeight($weight);
  }
  @include generate-responsive('.#{$font_weight_class_name}-#{$weight}') {
    @include fontWeight($weight);
  }
}
