/*
Colors
Added in: v0.0.1
*/

$light: #e2e5f0;
$dark: #0b1023;
$primary: #23aaec;
$success: #68bb35;
$warning: #ffa43c;
$danger: #ff5656;

$colors: (
  "light": $light,
  "dark": $dark,
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);
