@import "../utilities/all";

.badge {
  line-height: 1;
  font-size: .75em;
  border-radius: $base_border_radius;
  display: inline-block;
  font-weight: 400;
  padding: .3em;
  background-color: $faint-weak;
  &.is-rounded {
    border-radius: 5rem;
  }
  @each $name, $color in $strong-colors {
    &.is-#{$name} {
      background-color: $color;
      color: $base-weak;
    }
  }
}
