@import "../utilities/all";

%link {
  color: $accent-strong;
  text-decoration: none;
  display: inline-block;
  position: relative;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $accent-strong;
  }
  @each $name, $color in $strong-colors {
    &.link-#{$name} {
      color: $color;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: $color;
      }
    }
  }
}
a:not([class]),
a:not([class*="btn"]) {
  @extend %link;
}
a:not([class*="btn"]) {
  @each $name, $color in $strong-colors {
    &.link-#{$name} {
      color: $color;
      &::after {
        background-color: rgba($color, .5);
      }
    }
  }
}
