@import "../base/variables/variables";
@import "../base/mixins/mixins";

.alert {
  padding: 1rem;
  border-radius: $base_border_radius;
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @each $name, $color in $colors {
    &.is-#{$name} {
      background-color: rgba($color, .2);
      border: 1px solid rgba($color, .2);
      color: darken($color, 30%)
    }
  }
}
