main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*
Colors
Added in: v0.0.1
*/
.text-color-light {
  color: #e2e5f0;
}

.bg-color-light {
  background-color: #e2e5f0;
}

.text-color-light-1 {
  color: #e9ebf3;
}

.bg-color-light-1 {
  background-color: rgba(226, 229, 240, 0.85);
}

.text-color-light-2 {
  color: #eceef5;
}

.bg-color-light-2 {
  background-color: rgba(226, 229, 240, 0.7);
}

.text-color-light-3 {
  color: #eff1f7;
}

.bg-color-light-3 {
  background-color: rgba(226, 229, 240, 0.55);
}

.text-color-light-4 {
  color: #f3f4f9;
}

.bg-color-light-4 {
  background-color: rgba(226, 229, 240, 0.4);
}

.text-color-light-5 {
  color: #f6f7fa;
}

.bg-color-light-5 {
  background-color: rgba(226, 229, 240, 0.25);
}

.text-color-dark {
  color: #0b1023;
}

.bg-color-dark {
  background-color: #0b1023;
}

.text-color-dark-1 {
  color: #0d142b;
}

.bg-color-dark-1 {
  background-color: rgba(11, 16, 35, 0.85);
}

.text-color-dark-2 {
  color: #0f152f;
}

.bg-color-dark-2 {
  background-color: rgba(11, 16, 35, 0.7);
}

.text-color-dark-3 {
  color: #101733;
}

.bg-color-dark-3 {
  background-color: rgba(11, 16, 35, 0.55);
}

.text-color-dark-4 {
  color: #111936;
}

.bg-color-dark-4 {
  background-color: rgba(11, 16, 35, 0.4);
}

.text-color-dark-5 {
  color: #121b3a;
}

.bg-color-dark-5 {
  background-color: rgba(11, 16, 35, 0.25);
}

.text-color-primary {
  color: #23aaec;
}

.bg-color-primary {
  background-color: #23aaec;
}

.text-color-primary-1 {
  color: #2caeed;
}

.bg-color-primary-1 {
  background-color: rgba(35, 170, 236, 0.85);
}

.text-color-primary-2 {
  color: #31afed;
}

.bg-color-primary-2 {
  background-color: rgba(35, 170, 236, 0.7);
}

.text-color-primary-3 {
  color: #36b1ee;
}

.bg-color-primary-3 {
  background-color: rgba(35, 170, 236, 0.55);
}

.text-color-primary-4 {
  color: #3ab3ee;
}

.bg-color-primary-4 {
  background-color: rgba(35, 170, 236, 0.4);
}

.text-color-primary-5 {
  color: #3fb5ee;
}

.bg-color-primary-5 {
  background-color: rgba(35, 170, 236, 0.25);
}

.text-color-success {
  color: #68bb35;
}

.bg-color-success {
  background-color: #68bb35;
}

.text-color-success-1 {
  color: #6cc337;
}

.bg-color-success-1 {
  background-color: rgba(104, 187, 53, 0.85);
}

.text-color-success-2 {
  color: #6fc739;
}

.bg-color-success-2 {
  background-color: rgba(104, 187, 53, 0.7);
}

.text-color-success-3 {
  color: #72c83d;
}

.bg-color-success-3 {
  background-color: rgba(104, 187, 53, 0.55);
}

.text-color-success-4 {
  color: #74c940;
}

.bg-color-success-4 {
  background-color: rgba(104, 187, 53, 0.4);
}

.text-color-success-5 {
  color: #77ca44;
}

.bg-color-success-5 {
  background-color: rgba(104, 187, 53, 0.25);
}

.text-color-warning {
  color: #ffa43c;
}

.bg-color-warning {
  background-color: #ffa43c;
}

.text-color-warning-1 {
  color: #ffa946;
}

.bg-color-warning-1 {
  background-color: rgba(255, 164, 60, 0.85);
}

.text-color-warning-2 {
  color: #ffab4b;
}

.bg-color-warning-2 {
  background-color: rgba(255, 164, 60, 0.7);
}

.text-color-warning-3 {
  color: #ffae50;
}

.bg-color-warning-3 {
  background-color: rgba(255, 164, 60, 0.55);
}

.text-color-warning-4 {
  color: #ffb056;
}

.bg-color-warning-4 {
  background-color: rgba(255, 164, 60, 0.4);
}

.text-color-warning-5 {
  color: #ffb25b;
}

.bg-color-warning-5 {
  background-color: rgba(255, 164, 60, 0.25);
}

.text-color-danger {
  color: #ff5656;
}

.bg-color-danger {
  background-color: #ff5656;
}

.text-color-danger-1 {
  color: #ff6060;
}

.bg-color-danger-1 {
  background-color: rgba(255, 86, 86, 0.85);
}

.text-color-danger-2 {
  color: #ff6565;
}

.bg-color-danger-2 {
  background-color: rgba(255, 86, 86, 0.7);
}

.text-color-danger-3 {
  color: #ff6a6a;
}

.bg-color-danger-3 {
  background-color: rgba(255, 86, 86, 0.55);
}

.text-color-danger-4 {
  color: #ff7070;
}

.bg-color-danger-4 {
  background-color: rgba(255, 86, 86, 0.4);
}

.text-color-danger-5 {
  color: #ff7575;
}

.bg-color-danger-5 {
  background-color: rgba(255, 86, 86, 0.25);
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0b1023;
  text-align: left;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

/*# sourceMappingURL=nicy.css.map */
